<h2>Offboarding</h2>

<section>
  <md-outlined-text-field
    #searchInput
    label="Search"
    (input)="onSearchChanged(searchInput.value)"
  >
    <md-icon slot="trailing-icon">search</md-icon>
  </md-outlined-text-field>
  <div class="tqpas-elevation-3 tqpas-elevation-drop-shadow">
    <md-tabs
      class="tqpas-pointer-events-none tqpas-border-tl-radius-10-px tqpas-border-tr-radius-10-px"
    >
      <md-primary-tab>Employees</md-primary-tab>
    </md-tabs>

    <br />
    <table
      class="tqpas-border-tr-radius-10-px tqpas-border-br-radius-10-px tqpas-border-bl-radius-10-px"
      data-selector="offboarding-employee-list__table"
    >
      <tr class="tqpas-border-radius-10-px">
        <th>Full Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Equipment</th>
        <th>Status</th>
      </tr>
      @if((loading$|async)===true){
      <tr *ngSpawn="3">
        <td><lib-skeleton /></td>
        <td><lib-skeleton /></td>
        <td><lib-skeleton /></td>
        <td><lib-skeleton /></td>
        <td><lib-skeleton /></td>
      </tr>
      } @else { @if(employeesListItems$ | async; as items){ @for(item of items;
      track item.employee.id+item.employee.status){
      <!-- bg-info anchor to allow opening in new window with cmd+left clikc or on phone with long press. display table-row to keep compability -->
      <a
        [routerLink]="item.routeUrl"
        [state]="{ employee: item.employee }"
        class="tqpas-border-radius-10-px"
      >
        <td>{{ item.employee.name }}</td>
        <td>{{ item.employee.email }}</td>
        <td>{{ item.employee.department }}</td>
        <td>{{ item.equipmentsFormatted }}</td>
        <td>{{ item.employee.status | titlecase }}</td>
      </a>
      } }}
    </table>
  </div>
</section>
